.linksdiv{
    height: 100%;
    width: 70%;
    display: flex;
  justify-content: flex-end;
  align-items: center;
}
.linksdiv a{
   margin-left: 2rem;
   padding-right: 2rem;
   text-decoration: none;
   text-transform: capitalize;
   font-size: 1.2rem;
}
.linksdiv a img{
  height: 20px;
  width: 20px;
  border-radius: .8rem;
  background-color: white;
}
.linksdiv .active{
    color:rgb(187, 193, 116);
}
.linksdiv button{
   
    border: none;
    width: 100px;
   border-radius: .3rem;
   background-color: blue;
   color: white;
    height: 1.5rem; 
}